.box {
  width: 75%;
  margin: auto;
  box-shadow: 2px 2px 10px black;
  flex-wrap: wrap;
  margin: 0px auto 20px;
  padding-top: 100px;
  padding-bottom: 30px;
  min-width: 1070px;
  position: relative;
  background-color: white;
}
.other {
  flex: 40%;
  width: 40%;
}
.form {
  flex: 60%;
  width: 60%;
}
.bar {
  position: absolute;
  top: 10px;
  background-color: #b13426;
  height: 80px;
  width: 104%;
  left: -2%;
  margin: auto;
}

.bar p {
  padding: 20px;
  padding-left: 40px;
  margin: auto;
  font-size: 36px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .box {
    min-width: 900px;
  }
}

@media only screen and (max-width: 950px) {
  .box {
    min-width: 800px;
  }
}

@media only screen and (max-width: 850px) {
  .box {
    width: 90%;
    min-width: 360px;
    flex-direction: column-reverse;
  }
  .order {
    order: 4;
  }
  .form {
    order: 1;
  }
}

@media only screen and (max-width: 700px) {
  .bar p {
    font-size: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .bar p {
    font-size: 28px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 480px) {
  .box {
    min-width: 95%;
    max-width: 100px;
    margin: 10px 2.5%;
    flex-direction: column-reverse;
  }
  .bar {
    width: 100%;
    left: 0%;
    top: 0;
  }
  .bar p {
    font-size: 22px;
    letter-spacing: 0;
    text-align: center;
    padding: 20px 0;
  }
}

.block {
  box-shadow: 1px 1px 10px rgb(201, 201, 201);
  width: 95%;
  margin: 15px 2.5%;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.flexblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flexblock div {
  flex: 25%;
  width: 24%;
  padding: 5px;
  text-align: center;
}
.head {
  flex: 100%;
  text-align: center;
  padding: 15px;
  font-size: 24px;
}
