.App {
  min-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  position: fixed;
  scroll-behavior: smooth;
  z-index: -1;
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #b13426;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
